section.qualities {
  background-color: #ffffff;
  margin-top: 73px;
  position: relative;
}

.contentBox {
  padding: 0px 78px 60px;
}

.heading {
  max-width: 520px;
  margin: 0 auto;
}

.heading h2 {
  text-align: center;
  font-size: 36px;
  color: #458bdd;
}

.cardGroup {
  padding-top: 78px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .heading h2 {
    font-size: 32px;
  }
}

/* For tablets */
@media screen and (max-width: 800px) {
  .heading h2 {
    font-size: 28px;
  }
}


@media screen and (max-width: 480px) {
  .contentBox {
    padding: 0px 0px 60px;
  }
  .heading h2 {
    font-size: 20px;
  }
}