section.qualities {
  background-color: #ffffff;
  margin-top: 73px;
  position: relative;
}

.contentBox {
  padding: 0px 78px 60px;
}

.heading {
  max-width: 520px;
  margin: 0 auto;
}

.heading h2 {
  text-align: center;
  font-size: 36px;
  color: #458bdd;
}

.cardGroup {
  padding-top: 78px;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
