header {
  background-color: #458bdd;
  position: relative;
}

.header::after {
  /* content: url("../../assets/drop-banner.svg"); */
  content: "";
  display: block;
  position: absolute;
  width: 100dvw;
  height: 148px;
  max-width: 100%;
  top: 100px;
  background-image: url("../../assets/drop-banner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 100px;
}

.logo {
  margin: 0;
}

.logo img {
  width: 78px;
  height: auto;
  margin: 0;
  user-select: none;
}

@media screen and (max-width: 1235px) {
  .header::after {
    top: 85px;
  }
}

/* Laptops */
@media (max-width: 1024px) {
  .header::after {
    top: 85px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .header::after {
    top: 100px;
    background-size: cover;
  }

  .navbar {
    padding: 19px 50px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo img {
    width: 64px;
  }

  .header::after {
    content: none;
  }

  .navbar button {
    padding: 9px 20px !important;
    font-size: unset !important;
  }
}
