section.offers {
  background: linear-gradient(180deg, #ffffff 0%, #e5edcd 100%);
  padding: 115px 0 0;
}

.heading {
  text-align: center;
  height: 283px;
  padding-top: 154px;
  place-content: center;
  background: url("../../assets/banner.svg") no-repeat center / contain;
}

.headingText {
  max-width: 410px;
  margin: auto;
}

.headingText p {
  font-family: "Righteous", sans-serif;
  font-size: 20px;
  color: #9c29b2;
}

.headingText h2 {
  font-size: 36px;
  color: #2e0336;
}

.offersGroup {
  padding: 59px 25px 89px;
  max-width: 1111px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}


@media screen and (max-width: 1024px) {
  .headingText h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 800px) {
  section.offers {
    padding: 0;
  }

  .heading {
    place-content: unset;
  }

  .headingText h2 {
    font-size: 28px;
  }

  .offersGroup {
    grid-template-columns: unset;
    place-content: center;
  }
}

@media screen and (max-width: 480px) {
  section.offers {
    padding: 115px 0 0;
  }

  .heading {
    height: auto;
    place-content: flex-end;
    padding-top: 0;
    background-size: 100%;
  }

  .headingText {
    padding: 0;
  }

  .headingText {
    width: 300px;
  }

  .headingText p {
    font-size: 16px;
  }

  .headingText h2 {
    font-size: 22px;
  }

  .offersGroup {
    grid-template-columns: 1fr;
  }
}